<div>       <%= link_to "Movie Reviews", root_path %></div>

<ul><div><% if user_signed_in? %>
          <li><%= link_to "New Movie", new_movie_path %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %></div></ul>

         <%= form_tag search_movies_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", name: nil %>
        </p>
      <% end %>